body{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#console {
    font-size: 1.5rem;
}

.navbar {
    background-color: #0066ff;
    margin:0.1;
    padding: 0.25%;
}

.navbar h1 {
    color:white;
    margin-left: 2vw;
}

.train-buttons{
    display:flex;
    width:75vw;
    justify-content: center;
}

.train-buttons button{
    margin: 2%;
    font-size: 2rem;
    border:0;
    padding:1%;
    background-color: #0066ff;
    width: 10vw;
}

@media only screen {
    .train-buttons {
        flex-direction: column;
    }
    .train-buttons button{
        width: 70vw;
    }
}